.w_10_p{
    width: 10%;
}
.w_20_p{
    width: 20%;
}
.w_30_p{
    width: 30%;
}
.w_40_p{
    width: 40%;
}
.w_50_p{
    width: 50%;
}
.w_60_p{
    width: 60%;
}
.w_70_p{
    width: 70%;
}
.w_80_p{
     width: 80%;
 }
